<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
</head>
<body>
	<div class="container">
		<div th:replace="fragments :: main_nav"></div>
		<section class="jumbotron text-center">
			<p class="lead text-muted">
				잘못된 요청입니다.<br />
			</p>
			<a th:href="@{/}">첫 페이지로 이동</a>
		</section>
	</div>

	<div th:replace="fragments :: footer"></div>
	<div th:replace="fragments :: scripts"></div>
	<div th:replace="fragments :: date-time"></div>
</body>
</html>