<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
    <div th:replace="fragments :: main_nav"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-2">
                <div th:replace="fragments :: setting-menu (currentMenu = 'tags')"></div>
            </div>
            <div class="col-8">
                <div class="row">
                    <h2 class="col-12">관심있는 스터디 주제</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-info" role="alert">
                            참여하고 싶은 스터디 주제를 입력해 주세요. 해당 주제의 스터디가 생기면 알림을 받을 수 있습니다. 태그를 입력하고 콤마(,)
                            또는 엔터를 입력하세요.
                        </div>
                        <div id="whitelist" th:text="${whitelist}" hidden></div>
                        <input id="tags" type="text" name="tags" th:value="${tags}" 
                        	class="tagify-outside" aria-describedby="tagHelp"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: scripts"></div>
    <script type="text/javascript" th:inline="javascript">
    $(function(){
    	var csrfToken = /*[[${_csrf.token}]]*/ null;
    	var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
    	$(document).ajaxSend(function(e, xhr, options) {
    		xhr.setRequestHeader(csrfHeader, csrfToken);
    	})
    });
    </script>
    <script type="text/javascript">
    
    $(function() {
    	function tagRequest(url, tagTitle) {
    		$.ajax({
    			dataType:"json",
    			autocomplete:{
    				enabled:true,
    				rightkey:true,
    			},
    			contentType:"application/json; charset=utf-8",
    			method:"post",
    			url:"/settings/tags"+url,
    			data:JSON.stringify({
    				'tagTitle':tagTitle
    			})
    		}).done(function(data, status) {
    			console.log("${data} and status is ${status}")
    		});
    		
    	}
    	
    	function onAdd(e) {
    		tagRequest("/add", e.detail.data.value);
    	}
    	function onRemove(e) {
    		tagRequest("/remove", e.detail.data.value);
    	}
    	
    	var tagInput = document.querySelector("#tags");
    	
    	var tagify = new Tagify(tagInput, {
    		pattern: /^.{0,20}$/,
    		whitelist: JSON.parse(document.querySelector('#whitelist').textContent),
    		dropdown : {
    			enabled:1,
    		}
    	});
    	
    	tagify.on("add", onAdd);
    	tagify.on("remove", onRemove);
    	
    	tagify.DOM.input.classList.add('form-control');
    	tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
    	
    });
    
    
    
    
    
    </script>
</body>
</html>